NODE_ENV=local
PORT=3000
DATABASE_URL=postgresql://expressa:expressa@localhost:5432/expressa
BOOTSTRAP_ADMIN_PHONE=
VAPID_SUBJECT=mailto:push@expressa.test
VAPID_PUBLIC_KEY=BOT-VsrivTqPsMDCzS45APlNSMbgcTT5jqlrYu2-6PCRGB0YneXQDNsbrIxTAy0jJ-kUlKlWPm94PeirK8A8wCw
VAPID_PRIVATE_KEY=9rZGGVplNbc2psiiiyOla_ZL-qDyrgIZqD_cpLz1G0c
