server {
    listen 8080;
    server_name _;
    root /usr/share/nginx/html/current;
    index index.html;
    absolute_redirect off;

__ALLOWLIST__
    deny all;

    location / {
        try_files $uri $uri/ =404;
    }
}
