server {
    listen 8080;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

__ALLOWLIST__
    deny all;

    location = / {
        return 302 /current/;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
